/*========================================================
  9.  COMMENTS 
========================================================== */
	

/*---------------------------------------------------------
 General (_comments.scss)
-------------------------------------------------------- */

	.comments-area {
		clear: both;
		padding: 15px 0;
		margin: 0 auto;

		@include breakpoint($touch)  { width: 100%; }
	}

	.comments-header {
		padding: 45px 0 0 0;
	}

	.comment-respond {
		padding: 30px 0 0 0;
	}


/*---------------------------------------------------------
 Comment Header (_comments.scss)
-------------------------------------------------------- */


	.comments-header,
	.comment-respond
	{
		.comments-title,
		.comment-reply-title
		{
			color: var(--text-color, #FFF);
			font-family: $primary-font-stack;
			font-size: 36px;
			font-weight: 400;
			margin-bottom: 10px;

			> span.light {
				color: #aaa;
			}

			a {
				border: 0 !important;
			}

			#cancel-comment-reply-link {
				font-family: $secondary-font-stack;
				float: right;
				font-style: normal;
				display: inline-block;
				margin-top: 30px;
				padding: 4px 16px;
				border-radius: 12px;
				background-color: #2D2D2D;
				font-size: 1.3rem;
				letter-spacing: 1px;
				text-transform: uppercase;	
				color: #95989A;
				border: 0 !important;
				transition: all 300ms ease-in-out;

				&:hover {
					background-color: #272B2F;
					color: #fff;							
				}

			}
		}

		.comments-desc {
			// font-family: $primary-font-stack;
			font-size: 1.8rem;
			color: #95989a;
		}

	}

	.no-comments { color: #95989A; }


/*---------------------------------------------------------
 Comment List (_comments.scss)
-------------------------------------------------------- */


	ol.comment-list {
		list-style: none;
		margin: 30px 0 40px 0;
		padding: 0 0 0 0;

		.pingback-group {
			background: #0C0C0C;
			border-radius: 5px;
			padding: 25px 30px;
			margin-bottom: 45px;
		}

		li.pingback, li.trackback {
			margin-bottom: 10px;
			color: #e4eef5;

			a { color: var(--text-color); opacity: 0.7; }
			&.last-pingback { margin-bottom: 0; }
		}


		li.comment {
			position: relative;
			background: #0C0C0C;
			padding: 30px;
			border-radius: 5px;
			margin-bottom: 40px;

			&:last-child { margin-bottom: 0; }

			.comment-wrap {
				margin-bottom: 0;

				/** Comment Header */
				.comment-header {
					@include clearfix();

					.author-avatar {
						float: left;
						margin-right: 30px;
						border: 0 !important;

						img {
							border-radius: 1px;
							border-radius: 100%;
							width: 75px;
							height: auto;
						}
					}

					.comment-meta {
						display: flex;

						.author {
							color: var(--text-color, #FFF);
							font-family: $secondary-font-stack;
							font-size: 18px;
							font-weight: 600;

							a { color: inherit; border: 0 !important; }
						}
						.time {
							color: var(--text-color, #FFF);
							font-family: $secondary-font-stack;
							font-size: 16px;
							opacity: 0.7;
							margin: 3px 0 0 30px;

							a { border: 0 !important; color: #989898; }
						}
					}
				}

				/** Comment Body */
				.comment-body {
					@include clearfix();
					padding-left: 90px;
					margin-top: -40px;

					.comment-content {
						color: var(--text-color, #FFF);
						font-family: $secondary-font-stack;
						font-size: 16px;
						margin-top: 0;

						p:last-of-type {
							margin-bottom: 0;
						}
					}

					.comment-reply {
						position: absolute;
						top: 0;
						right: 35px;
						a {
							display: inline-block;
							margin-top: 30px;
							color: #3B5998;
							font-size: 1.6rem;
							border: 0 !important;
							transition: all 300ms ease-in-out;

							&:hover {
								color: #3B5998;
							}

						}
					}

					.moderation {
						opacity: 0.7;
					}										
				}

			}

			/** Child Comments */
			.children {
				list-style: none;
				@include breakpoint($mobile)  { padding-left: 0; margin-left: 0; }
			}

		}
	}


/*---------------------------------------------------------
 Comment Form (_comments.scss)
-------------------------------------------------------- */


	.comment-form {

		/** Notice - Logged In */
		.logged-in-as {
			margin-bottom: 30px;

			a {
				color: #95989A;
				border-bottom: 1px solid transparent;
		    	transition: all 300ms linear;

				&:hover {
					border-bottom: 1px solid rgba(255, 255, 255, 0.25);
				}
			}

		}

		/** Notice - Logged Out */
		.comment-notes {
			font-size: 1.8rem;
			margin-bottom: 45px !important;
			color: #95989A;
		}

		/**  Form Fields */
		.comment-form-author,
		.comment-form-email,
		.comment-form-url
		{}
		.column {
			margin-bottom: 0;
			width: 100%;
		}

		/**  Submit Field */
		.form-submit {
			.submit {
				padding: 23px 50px !important;
				width: 100%;
			}
		}

	}



/*---------------------------------------------------------
 Comment Navigation (_comments.scss)
-------------------------------------------------------- */


	.comment-navigation {
		margin-bottom: auto;
		padding: 0 0 44px 0;
		margin-top: 30px;

		&:before {
			content: '';
		}

		.nav-links {

			> div {
				display: inline-block;
				margin-right: 15px;

				a {
					display: inline-block;
					padding: 6px 14px 6px 14px;
					border-radius: 12px;
					background: #151515;
					color: #fff;
					font-size: 1.2rem;
					letter-spacing: 3px;
					text-transform: uppercase;	
					border: 0 !important;
					transition: all 300ms ease-in-out;

					&:hover {
						background-color: #272B2F;
						color: #fff;							
					}
				}
			}

			.nav-previous {}
			.nav-next { float: right; }

		}
		
		.screen-reader-text {
			display: none;
		}
	}