	

	/** Menu Icons */
	ul#icons-menu {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		list-style: none;
		padding-left: 0;
		@include breakpoint($touch)	  { padding-left: 0; justify-content: flex-end; }

		li {
			position: relative;
			padding-right: 0 !important;
			margin-left: 30px;

    		// &:first-child { margin-left: 60px; } 

			@include breakpoint($touch)	  { margin-left: 15px; }

			a {
				color: var(--text-color, #FFF);
				line-height: 33px;
				padding: 10px 0 14px 0;

			}

			&.cart-icon {
				a {
					// Default Values
					@include breakpoint($touch)  	{ font-size: 27px; }
					@include breakpoint($no-touch)  { font-size: 28px; }
					
					// Modern Menu
					.modern-menu & {
						@include breakpoint($no-touch)	  { font-size: 30px; }
					}
				}
				.count {
					position: absolute;
					top: 0;
					right: -9px;
					display: inline-block;
					background: #FF5050;
					width: 16px;
					height: 16px;
					line-height: 16px;
					text-align: center;
					font-size: 11px;
					color: #fff;
					border-radius: 100%;
				}
			}

			&.fullscreen-icon {
				a {
					font-size: 25px;
				}
			}

			&.search-icon {
				a {
					// Default Values
					@include breakpoint($touch)  	{ font-size: 25px; }
					@include breakpoint($no-touch)  { font-size: 26px; }
					
					// Modern Menu
					.modern-menu & {
						@include breakpoint($no-touch)	  { font-size: 28px; }
					}
				}
			}

			&.menu-icon {
				.traditional-menu & {
					@include breakpoint($no-touch)	  { display: none; }
				}
				a {
					// Default Values
					@include breakpoint($touch)  	{ font-size: 26px; }
					@include breakpoint($no-touch)  { font-size: 26px; }
					
					// Modern Menu
					.modern-menu & {
						@include breakpoint($no-touch) {
							display: flex;
							flex-direction: column;
							transform: translateY(-7px);
							.bar {
								display: inline-block;
								height: 2px;
								width: 32px;
								background: var(--text-color);
								margin: 4px 0;
								border-radius: 2px;
								transition: width 300ms linear;

								&:nth-child(2) { width: 23px; }
							}

							&:hover {
								.bar { width: 32px; }
							}
						}
					}

				}
			}

		}
	}