/*========================================================
  0.  PORTFOLIO 
========================================================== */
	

/** == SLIDER COMPONENTS == */
/** ================================================== */

	// Progress Bar
	.slider-progress-bar {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 3px !important;
		width: 100%;
		z-index: 9999;

		.progress {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 3px !important;
			width: 0;
			background: var(--primary-accent, #ffea36);
			border-top: 1px solid var(--primary-accent, #e4cd0b);
			z-index: 99999;
		}
	}

	// Arrows 
	.flickity-prev-next-button {
		width: 73px;
		height: 40px;
		background: transparent;
		border-radius: 0;
		padding: 0;

		.arrow {
			transform: scale(3, 3);
			fill: var(--text-color, #000);

		}

		svg {
			width: 100%;
			path {
				stroke: var(--text-color, #000);
				stroke-width: 2;
			}
		}

		&.previous {
			left: 0%;
			svg { left: 0; }
		}
		&.next {
			right: 2%;
			// transform-origin: 0 0;
			svg {
				transform: rotate(180deg);
			}
		}
	}

	// Slider Dots
	.slider-page-dots {
		position: absolute;
		right: 0;
		bottom: 50px;
		text-align: right;
		padding-right: 55px;

		.dot {
			position: relative;
			width: 7px;
			height: 7px;
			opacity: 1;
			margin: 0 6px;
			background: var(--text-color, #000);
			border: 3px solid transparent;

			&.is-selected {
				&:after {
					content: ' ';
					position: absolute;
					top: -7px; left: -7px;
					border-radius: 100%;
					width: 15px;
					height: 15px;
					border: 1px solid var(--text-color, rgba(0,0,0,0.7));
				}
			}
		}
	}

	// All Works Link
	.all-works {
		position: absolute;
		left: 0;
		bottom: 20px;
		font-family: $secondary-font-stack;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 1px;

		a {
			color: var(--text-color, #000);

			&:before {
				display: inline-block;
				content: '+';
				margin-right: 6px;
				font-size: 24px;
				transform: translateY(4px);
			}
		}
	}

	// Slider Counter
	.counter {
		position: absolute;
		right: 0;
		bottom: 20px;
		font-family: $secondary-font-stack;
		font-size: 17px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: var(--text-color, #000);

		.total {
			&:before {
				display: inline-block;
				content: '';
				width: 40px;
				height: 1px;
				background: #000;
				margin: 0 8px;
				position: relative;
				top: -5px;
			}
		}
	}


/** == CLASSIC CAROUSEL == */
/** ================================================== */

	#featured-slider {
		position: relative;
		@include breakpoint($mobile)  { display: none; }

		.progress-bar {
			@extend .slider-progress-bar;
		}

		.main-carousel {
			background: #111;
			margin-bottom: 60px;

			/** Slides **/
			.flickity-slider {

				.carousel-cell {
					background: #2A2A2A;
					text-align: center;

					width: 100%; /* full width */
					height: 640px; /* height of carousel */
					@include breakpoint($laptop)  { height: 580px; }
					@include breakpoint($full-hd)  { height: 650px; }
					// @include breakpoint($laptop)  { height: 658px; } // 658px, 16:9 aspect ratio
					// @include breakpoint($full-hd)  { height: 810px; } // 810px, 16:9 aspect ratio

					.carousel-image {
						display: block;
						width: 100% !important;
						height: auto;
					}

					.carousel-desc {
						@include animate-this(); // CSS-3 animation is triggered via addition of '.is-selected' class
						position: absolute;
						left: 55px;
						bottom: 55px;
						text-align: left;

						a { border: 0 !important; }

						.title {
							font-family: $primary-font-stack;
							font-size: 34px;
							font-weight: 400;
							// font-style: italic;
							line-height: 1.3;
							letter-spacing: -1px;
							color: #000;
							margin: 0;
						}
						.tags {
							font-family: $secondary-font-stack;
							font-size: 14px;
							text-transform: uppercase;
							letter-spacing: 1px;
							color: rgba(0, 0, 0, 0.65);
						}
					}

					/* animate-in carousel description when selected */
					&.is-selected {
						.carousel-desc {
						    opacity: 1;
						    visibility: visible;
						    transform: translate3d(0, 0, 0);
						    transition-delay: 600ms;
						}
					}

				}
			}

			/** Arrows **/
			.flickity-prev-next-button {
				display: none !important;
			}

			/** Dots **/
			.flickity-page-dots {
				@extend .slider-page-dots;
			}

		}		

	}