

/** == SINGLE == */
/** ================================================== */

.single-portfolio {

    .navigation {
        margin-top: 120px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;

        div {

            &.prev,
            &.next {
                a {
                    display: inline-flex;
                    font-size: 18px;
                    text-transform: uppercase;
                    line-height: 34px;
                    letter-spacing: 0.5px;
                    color: var(--text-color, #FFF);

                    i {
                        font-size: 26px;
                    }
                }
            }
            &.prev i { margin-left: 10px; } 
            &.next i { margin-right: 10px; } 

            &.index {
                width: 100px;
                text-align: center;

                a {
                    color: var(--text-color, #FFF);
                    i { font-size: 41px; transition: font-size 400ms ease-in-out; }
                    &:hover {
                        // i { font-size: 41px; }
                    }
                }
            }

            &.no-more-content {
                opacity: 0;
                visibility: hidden;
            }

        }
    }
}
