/** == GENERAL == */
/** ================================================== */

    body.portfolio-horizon {
        overflow: hidden;
    }

/** == HORIZON CAROUSEL == */
/** ================================================== */

    #horizon-slider {
        position: relative;
        top: -194px; left: 0; right: 0;
        display: flex;
        align-items: center;
        min-height: 100vh;
        z-index: 10; // make it beneath menu
        
        // Progress Bar
        .progress-bar {
            @extend .slider-progress-bar;
            @include make-full-width();
        }

        // All Works
        .all-works {
            position: absolute;
            left: 0;
            bottom: 20px;
            font-family: $secondary-font-stack;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;

            a {
                color: var(--text-color, #000);

                &:before {
                    display: inline-block;
                    content: '+';
                    margin-right: 6px;
                    font-size: 24px;
                    transform: translateY(4px);
                }
            }
        }

         // Counter
         .counter {
            position: absolute;
            right: 0;
            bottom: 20px;
            font-family: $secondary-font-stack;
            font-size: 17px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: var(--text-color, #000);

            .total {
                &:before {
                    display: inline-block;
                    content: '';
                    width: 40px;
                    height: 1px;
                    background: #000;
                    margin: 0 8px;
                    position: relative;
                    top: -5px;
                }
            }
        }
        
        .main-carousel {
            width: 100%;
            margin-top: 100px;
            
            // Dots
            .flickity-page-dots {
                @extend .slider-page-dots;
                text-align: center;
                bottom: -50px;
                padding: 0;
            }

            // Arrows 
            .flickity-prev-next-button {
                width: 73px;
                height: 40px;
                background: transparent;
                border-radius: 0;
                padding: 0;

                .arrow {
                    transform: scale(3, 3);
                    fill: var(--text-color, #000);

                }

                svg {
                    width: 100%;
                    path {
                        stroke: var(--text-color, #000);
                        stroke-width: 2;
                    }
                }

                &.previous {
                    left: 0%;
                    svg { left: 0; }
                }
                &.next {
                    right: 2%;
                    // transform-origin: 0 0;
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
            
            // Viewport
            .flickity-viewport {
                overflow: visible !important;

                .flickity-slider {
                    // @include make-full-width();
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    // margin-left: calc(-50vw + 65%);

                    .carousel-cell {
                        position: relative;
                        text-align: center;
                        width: 80%;
                        height: auto; /* height of carousel */
                        padding: 0 15%;
                        overflow: hidden;

                        // margin: 0 80px;

                        .carousel-image {
                            display: block;
                            border-radius: 5px;
                        }

                        .carousel-desc {
                            @include animate-this(); // CSS-3 animation is triggered via addition of '.is-selected' class
                            position: absolute;
                            left: 19%;
                            top: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            text-align: left;

                            .title {
                                font-size: 48px;
                                // color: #000;
                                margin: 0;
                                letter-spacing: 0;
                            }
                            .tags {
                                font-size: 14px;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                color: #696969;
                            }
                        }

                        /* animate-in carousel description when selected */
                        &.is-selected {
                            .carousel-desc {
                                opacity: 1;
                                visibility: visible;
                                transform: translate3d(-50%, -56%, 0);
                                transition-delay: 600ms;
                        
                            }
                        }
                    }
                }
            }
        }
    }