/** == GENERAL == */
/** ================================================== */

    body.portfolio-horizon {
        overflow: hidden;
    }

/** == HORIZON CAROUSEL == */
/** ================================================== */

    #horizon-slider {
        position: relative;
        top: -194px; left: 0; right: 0;
        display: flex;
        align-items: center;
        min-height: 100vh;
        z-index: 10; // make it beneath menu
        
        @include breakpoint($mobile) { top: -143px; }

        // Progress Bar
        .progress-bar {
            @extend .slider-progress-bar;
            @include make-full-width();
        }

        // All Works
        .all-works {
            @extend .all-works;
        }

        // Counter
        .counter {
            @extend .counter;
        }
        
        // Main Carousel
        .main-carousel {
            width: 100%;
            margin-top: 100px;
            
            // Dots
            .flickity-page-dots {
                @extend .slider-page-dots;
                text-align: center;
                bottom: -50px;
                padding: 0;
            }

            // Arrows 
            .flickity-prev-next-button {
                @extend .flickity-prev-next-button;

                &.flickity-button {
                    &.previous {
                        @include breakpoint($mobile) { left: 10px; }
                    }
                    &.next {
                        @include breakpoint($mobile) { right: 25px; }
                    }
                }
            }
            
            // Viewport
            .flickity-viewport {
                overflow: visible !important;

                .flickity-slider {
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    .carousel-cell {
                        position: relative;
                        text-align: center;
                        width: 80%;
                        height: auto; /* height of carousel */
                        padding: 0 15%;
                        overflow: hidden;

                        @include breakpoint($mobile) { width: 100%; padding: 0 3%; overflow: visible; }
                        @include breakpoint($full-hd)  { width: 85%; padding: 0 15%; }

                        .entry-thumbnail {
                            display: block;
                            width: 100%;

                            @include breakpoint($mobile) { margin: 0; }

                            img {
                                border-radius: 5px;
                                width: 100%;
                            }
                        }

                        .entry-caption {
                            @include animate-this(); // CSS-3 animation is triggered via addition of '.is-selected' class
                            position: absolute;
                            left: 19%;
                            top: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            text-align: left;

                            @include breakpoint($mobile) {
                                left: 0; top: 0;
                            }

                            .inner-wrap {
                                .entry-title {
                                    font-size: 48px;
                                    font-weight: 400;
                                    margin: 0;

                                    @include breakpoint($mobile) { font-size: 36px; line-height: 1.2; }
                                }
                                .entry-meta {
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    color: #696969;
                                }
                            }
                        }

                        /* animate-in carousel description when selected */
                        &.is-selected {
                            // @include breakpoint($mobile) { margin: 0 15px; }

                            .entry-caption {
                                opacity: 1;
                                visibility: visible;
                                transform: translate3d(-50%, -56%, 0);
                                transition-delay: 600ms;

                                @include breakpoint($mobile) { transform: translate3d(13%, -40%, 0); }
                            }
                        }
                    }
                }
            }
        }
    }