/*========================================================
  0.  PORTFOLIO 
========================================================== */
	

.is-animated {
  animation: .6s rotate-right;
}

@keyframes rotate-right {
  0% {
	opacity: 0;
	visibility: hidden;
	transform: translate3d(0, 15px, 0);
  }
  100% {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0, 0, 0);
  }
}


/** == GRID == */
/** ================================================== */

	.no-transition {
		transition: none;
	}


	.grid {
		.grid-item {
			overflow: hidden;
			position: relative;
			background: #2A2A2A;
			text-align: center;
			@include breakpoint($mobile)  { width: 100% !important; height: auto !important; margin-left: 0 !important; margin-right: 0 !important; }

			@include animate-this(); // CSS-3 animation is triggered via JS

			.entry-link {

				.entry-thumbnail {
					width: 100%;
					height: 100%;
					margin: 0;

					img {
						width: 100%;
						height: 100% !important;
						object-fit: cover; // css3 property

						&.primary { display: block; }
						&.secondary { display: none; }
					}

				}
			}
			
		}
	}

/** == COMMON STYLES == */
/** ================================================== */

	.portfolio-container {
		.type-portfolio {
			position: relative;
			z-index: 5;
			overflow: visible !important;

			.entry-caption {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-shrink: 0; // do not allow wrapping text
	
				@include position(absolute, 0, 0, 0, 0);
				@include animate-out($translate3d: '0, 0, 0', $duration: '300ms'); // used in combination with @animate-in() mixin
	
				z-index: 2;

				.inner-wrap {
					position: absolute;
					width: 100%;
					@include animate-out($duration: '300ms'); // used in combination with @animate-in() mixin

					.entry-title {
						font-family: $primary-font-stack;
						font-weight: 600;
						font-size: 28px;
						line-height: 1.2;
						letter-spacing: 0;
						margin: 0;
					}
					.entry-meta {
						font-family: $secondary-font-stack;
						font-size: 14px;
						font-weight: 400 ;
						letter-spacing: 1px;
						display: block;
						margin-top: 4px;
						text-transform: uppercase;
					}
				}
			}
			&:hover{
				.entry-caption {
					@include animate-in(); // CSS-3 animation is triggered via HOVER
					.inner-wrap {
						@include animate-in(); // CSS-3 animation is triggered via HOVER
					}
				}
			}
		}
	}


/** == IMAGE FILTERS == */
/** ================================================== */

	// GRAYSCALE
	.portfolio-container[data-filter="grayscale"] {
		.type-portfolio {
			&:hover {
				.entry-caption {
					backdrop-filter: grayscale(1);
				}
			}
		}
	}

	// BLUR
	.portfolio-container[data-filter="blur"] {
		.type-portfolio {
			&:hover {
				.entry-caption {
					backdrop-filter: blur(3px);
				}
			}
		}
	}


/** == IMAGE EFFECTS == */
/** ================================================== */

	// CHANGE
	.portfolio-container[data-effect="change"] {
		.type-portfolio.has-secondary-image {
			&:hover {
				.entry-thumbnail {
					.primary { display: none; }
					.secondary { display: block; }
				}
			}
		}
	}

	// PARALLAX
	.portfolio-container[data-effect="parallax"] {
		.type-portfolio {
			&:hover {
				.entry-caption {
					// backdrop-filter: blur(3px);
				}
			}
		}
	}

	// ZOOM
	.portfolio-container[data-effect="zoom"] {
		.type-portfolio {
			.entry-thumbnail {
				overflow: hidden !important;
				img {
					position: relative;
					transition-property: all;
					transition-duration: 0.8s;
					transition-timing-function: ease-in-out;
					transition-delay: 0s;
				}
			}
			&:hover {
				.entry-thumbnail {
					img { transform: scale(1.2) rotate(2deg); }
				}
				.entry-caption {
					// backdrop-filter: blur(3px);
				}
			}
		}
	}


/** == CAPTION STYLES == */
/** ================================================== */

	// OVERLAY
	.portfolio-container[data-caption="overlay"] {
		.type-portfolio {
			.entry-caption {
				.inner-wrap {
					padding: 0 70px;
					text-align: center;
	
					.entry-title {
						color: #000;
					}
					.entry-meta {
						color: rgba(0, 0, 0, 0.4);
					}
	
				}
			}
	
			&:hover {
				.entry-caption {
					background: var(--secondary-accent);
					opacity: 0.9;
				}
			}

		}
	}

	// FLOAT
	.portfolio-container[data-caption="float"] {
		.type-portfolio {
			.entry-caption {
				.inner-wrap {
					width: auto;

					.entry-title {
						color: #000;
						background: #FFF;
						padding: 6px 12px;
						white-space: nowrap; 
					}
					.entry-meta {
						align-self: flex-start !important;
						color: #FFF;
						background: #000;
						padding: 6px 10px;
						margin: 0;
					}
				}
			}
			&:hover {
				z-index: 10;
			}
		}
	}


/** == NUMBERED PAGINATION == */
/** ================================================== */

	#numbered-pagination {
		display: flex;
		justify-content: center;
		margin-top: 60px;

		.label {
			display: inline-block;
			line-height: 30px;
			margin-right: 15px;
			color: var(--text-color);
			opacity: 0.5;
		}

		.links {
			.page-numbers {
				display: inline-block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 7px;
				text-align: center;
				color: var(--text-color);

				&.current {
					color: var(--menu-text);
					background: var(--menu-background);
				}
			}
			.next, .prev { display: none; }
		}
	}