/*========================================================
  0.  PORTFOLIO 
========================================================== */
	

.is-animated {
  animation: .6s rotate-right;
}

@keyframes rotate-right {
  0% {
	opacity: 0;
	visibility: hidden;
	transform: translate3d(0, 15px, 0);
  }
  100% {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0, 0, 0);
  }
}


/** == GRID == */
/** ================================================== */

	.no-transition {
		transition: none;
	}


	.grid {
		.grid-item {
			overflow: hidden;
			position: relative;
			background: #2A2A2A;
			text-align: center;
			@include breakpoint($mobile)  { width: 100% !important; height: auto !important; margin-left: 0 !important; margin-right: 0 !important; }

			@include animate-this(); // CSS-3 animation is triggered via JS

			.entry-link {

				.entry-thumbnail {
					width: 100%;
					height: 100%;
					margin: 0;

					img {
						display:block;
						width: 100%;
						height: 100% !important;
						object-fit: cover; // css3 property
					}

				}

		    .entry-caption {
				display: flex;
				justify-content: center;
				align-items: center;

		        @include position(absolute, 0, 0, 0, 0);
		        @include animate-out($translate3d: '0, 0, 0', $duration: '300ms'); // used in combination with @animate-in() mixin

		        z-index: 2;

		        .inner-wrap {
		            width: 100%;
		            padding: 0 70px;
		            text-align: center;
		            @include animate-out($duration: '300ms'); // used in combination with @animate-in() mixin

			        .entry-title {
						font-family: var(--tertiary-font-stack);
						font-family: $primary-font-stack;
			            font-weight: 600;
			            font-size: 28px;
			            line-height: 1.2;
			            letter-spacing: 0;
			            margin: 0;
			            color: #000;
			        }
			        .entry-meta {
			            font-family: $secondary-font-stack;
			            font-size: 14px;
			            font-weight: 400 ;
			            color: rgba(0, 0, 0, 0.4);
			            letter-spacing: 1px;
			            display: block;
						margin-top: 4px;
						text-transform: uppercase;
			        }

		        }
		    }

			    &:hover .entry-caption {
			        @include animate-in(); // CSS-3 animation is triggered via HOVER
			        background: var(--secondary-accent, #FFF); opacity: 0.9;

			        .inner-wrap {
			        	@include animate-in(); // CSS-3 animation is triggered via HOVER
			        }
			    }

			}

		}
	}


	#numbered-pagination {
		display: flex;
		justify-content: center;
		margin-top: 60px;

		.label {
			display: inline-block;
			line-height: 30px;
			margin-right: 15px;
			color: var(--text-color);
			opacity: 0.5;
		}

		.links {
			.page-numbers {
				display: inline-block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 7px;
				text-align: center;
				color: var(--text-color);

				&.current {
					background: #282828;
				}
			}
			.next, .prev { display: none; }
		}
	}