/** == GENERAL == */
/** ================================================== */

    body.portfolio-ribbon {
        overflow: hidden;
        background-image: url(../../images/corner-pattern.svg);
        background-position: top left;
        background-repeat: no-repeat;
    }

/** == RIBBON CAROUSEL == */
/** ================================================== */

    #ribbon-slider {
        position: relative;
        top: 10%; left: 0; right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: calc(100vh - 165px);
        z-index: 10; // make it beneath menu

        @include breakpoint($retina)  { top: 20px; min-height: calc(100vh - 215px); }
        @include breakpoint($laptop)  { top: -10%; min-height: calc(100vh - 195px); }
        @include breakpoint($full-hd)  { top: 50px; min-height: calc(100vh - 250px); }
        
        // Intro
        .intro {
          margin-left: 200px;

          .prefix {
            position: relative;
            font-family: $secondary-font-stack;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.4px;
            margin: 0 0 10px 0;

                &:before {
                    display: inline-block;
                    content: '';
                    width: 75px;
                    height: 2px;
                    background: #FFF;
                    transform: translateY(-5px);
                    margin-right: 18px;
                }
            }
            .title {
                font-size: 44px;
                line-height: 1.2;
                margin-top: 0;
                padding-right: 10%;

                @include breakpoint($full-hd)  { font-size: 48px; }
            }
        }

        // Slider
        .slider {
            margin-left: 200px;

            .title {
                font-family: $secondary-font-stack;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                opacity: 0.3;
                margin: 0 0 20px 0;

                @include breakpoint($retina)  { margin: 30px 0 30px 0; }
                @include breakpoint($laptop)  { margin: 10px 0 20px 0; }
                @include breakpoint($full-hd)  { margin: 30px 0 30px 0; }

            }
            .main-carousel {
            }
        }

        // Slider Controls
        .slider-controls {
            // Progress Bar
            .progress-bar {
                @extend .slider-progress-bar;
                @include make-full-width();
            }
    
            // All Works
            .all-works {
                @extend .all-works;
            }
    
            // Counter
            .counter {
                @extend .counter;
            }
        }

        .main-carousel {
            width: 100%;
            margin-top: 0;
            @include make-full-width();
            margin-left: -200px;

            @include breakpoint($retina)  { margin-left: -275px; }
            @include breakpoint($laptop)  { margin-left: -240px; }
            @include breakpoint($full-hd)  { margin-left: -285px; }
            
            // Viewport
            .flickity-viewport {
                overflow: visible !important;

                .flickity-slider {
                    // @include make-full-width();
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    // margin-left: calc(-50vw + 65%);

                    .carousel-cell {
                        position: relative;
                        text-align: center;
                        width: 330px;
                        height: 190px; /* height of carousel */
                        padding: 0 14px;
                        overflow: hidden;

                        @include breakpoint($retina)  { width: 20%; height: 190px; }
                        @include breakpoint($laptop)  { width: 300px; height: 155px; }
                        @include breakpoint($full-hd)  { width: 500px; height: 250px; }

                        // margin: 0 80px;

                        .carousel-image {
                            display: block;
                            width: 100%;
                            height: auto;
                        }

                        .carousel-desc {
                            @include animate-this(); // CSS-3 animation is triggered via addition of '.is-selected' class
                            position: absolute;
                            left: 19%;
                            top: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            text-align: left;

                            .title {
                                font-size: 48px;
                                // color: #000;
                                margin: 0;
                                // letter-spacing: 0;
                            }
                            .tags {
                                font-size: 14px;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                color: #696969;
                            }
                        }

                        /* animate-in carousel description when selected */
                        &.is-selected {
                            .carousel-desc {
                                opacity: 1;
                                visibility: visible;
                                transform: translate3d(-50%, -56%, 0);
                                transition-delay: 600ms;
                        
                            }
                        }
                    }
                }
            }
        }

        
    }