/** == GENERAL == */
/** ================================================== */

    body.portfolio-spotlight {
        overflow: hidden;
    }

/** == dSPOTLIGHT CAROUSEL == */
/** ================================================== */

    #spotlight-slider {
        position: relative;
        top: -194px; left: 0; right: 0;
        display: flex;
        align-items: center;
        min-height: 100vh;
        z-index: 10; // make it beneath menu
        
        // Progress Bar
        .progress-bar {
            @extend .slider-progress-bar;
            @include make-full-width();
        }

        // All Works
        .all-works {
            @extend .all-works;
        }

        // Counter
        .counter {
            @extend .counter;
        }
        
        .main-carousel {
            width: 100%;
            margin-top: 100px;
            
            // Dots
            .flickity-page-dots {
                @extend .slider-page-dots;
                text-align: center;
                bottom: -50px;
                padding: 0;
            }

            // Arrows 
            .flickity-prev-next-button {
                @extend .flickity-prev-next-button;
                &.flickity-button {
                    left: auto;
                    right: 150px;
                    transform: rotate(90deg);

                    &.previous {
                        top: 30%;
                        right: 155px;
                    }
                    &.next {
                        top: 52%;
                    }
                }
            }
            
            // Viewport
            .flickity-viewport {
                overflow: visible !important;

                .flickity-slider {
                    // @include make-full-width();
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    // margin-left: calc(-50vw + 65%);

                    .carousel-cell {
                        position: relative;
                        text-align: center;
                        width: 80%;
                        height: auto; /* height of carousel */
                        padding: 0 15%;
                        overflow: hidden;

                        // margin: 0 80px;

                        .carousel-image {
                            display: block;
                            border-radius: 5px;
                        }

                        .carousel-desc {
                            @include animate-this(); // CSS-3 animation is triggered via addition of '.is-selected' class
                            position: absolute;
                            left: 19%;
                            top: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            text-align: left;

                            .title {
                                font-size: 48px;
                                // color: #000;
                                margin: 0;
                                // letter-spacing: 0;
                            }
                            .tags {
                                font-size: 14px;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                color: #696969;
                            }
                        }

                        /* animate-in carousel description when selected */
                        &.is-selected {
                            .carousel-desc {
                                opacity: 1;
                                visibility: visible;
                                transform: translate3d(-50%, -56%, 0);
                                transition-delay: 600ms;
                        
                            }
                        }
                    }
                }
            }
        }
    }