/** == TEXTUAL CAROUSEL == */
/** ================================================== */

    #textual-slider {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        z-index: 10; // make it beneath menu

        &:not(.is-interactive) {
            background: url(../../images/textual-backdrop.svg) center calc(50% + 10px) no-repeat;
        }

        // Progress Bar
        .progress-bar {
            display: none;
        }

        // All Works
        .all-works {
            @extend .all-works;
            left: 50%;
            transform: translateX(-50%);
        }

        // Counter
        .counter {
            display: none;
        }

        // Main Carousel
        .main-carousel {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
        }

        // Entry Cell
        .carousel-cell {
            display: inline-block;
            margin: 0 30px;

            @include breakpoint($mobile) { margin: 5px 15px; }

            &.is-selected {
                .entry-thumbnail {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(-50%, -56%, 0);
                }
            }
            &:not(.is-selected) {
                .entry-caption {
                    a {
                        .inner-wrap {
                            opacity: 0.2;
                        }
                    }
                }
            }

            .entry-thumbnail {
                @include animate-this(); // CSS-3 animation is triggered via addition of '.is-selected' class
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -10;
                margin-top: 45px;

                @include breakpoint($mobile) { margin: 0; left: 0 !important; transform: translateX(0) translateY(-50%) !important; }

                img {
                    border-radius: 5px;
                    width: 100%;
                }
            }

            .entry-caption {
                text-align: left;
                
                a {
                    .inner-wrap {
                        display: flex;
                        align-items: flex-end;
    
                        .entry-title {
                            font-size: 48px;
                            color: var(--text-color, #000);
                            margin: 0;

                            @include breakpoint($mobile) { font-size: 36px; line-height: 1.2; flex: 1; }
                        }
                        &:hover {
                            .entry-title {
                                // color: var(--primary-accent, #000);
                            }
                        }
                        .entry-meta {
                            font-size: 14px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            color: #696969;
                            padding: 0 0 15px 10px;

                            @include breakpoint($mobile) { flex: 1; }
                        }
                    }
                }

            }

        }

    }