/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Nucleus - Portfolio for Freelancers & Agencies
Version:		1.0
Author: 		Muhamamd Faisal
Author URI: 	http://wpscout.io/
-------------------------------------------------------------------*/


// Third Party Libraries.
@import 'lib/susy/susy';
@import 'lib/breakpoint/breakpoint';
@import 'lib/flaticon/flaticon';

// Custom Variables and Mixins.
@import 'preboot';
@import 'mixins';
	
// Base HTML Styles
@import 'partials/grid';
@import 'partials/base';

// Scaffolding
@import 'partials/scaffolding/top_bar';
@import 'partials/scaffolding/site_header';
@import 'partials/scaffolding/site_body';
@import 'partials/scaffolding/site_footer';
@import 'partials/scaffolding/sidebar';
@import 'partials/scaffolding/misc';

// Blog
@import 'partials/blog/minimal';
@import 'partials/blog/magazine';
@import 'partials/blog/single_post';
@import 'partials/blog/comments';

// Portfolio
@import 'partials/portfolio/common';
@import 'partials/portfolio/classic';
@import 'partials/portfolio/horizon';
@import 'partials/portfolio/spotlight';
@import 'partials/portfolio/forza';
@import 'partials/portfolio/textual';
@import 'partials/portfolio/columns';
@import 'partials/portfolio/ribbon';
@import 'partials/portfolio/detail_page';

// Pages
@import 'partials/pages/layout_builder';
@import 'partials/pages/error_404';
@import 'partials/pages/team';
